---
layout: page
title: Blog
sharing: false
---

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
  <p class="post-meta">
      <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>
      {% if site.author %} 
           • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name"><a href="mailto:{{site.email}}" target="_blank">{{ site.author }}</a></span></span>
      {% endif %}
  </p>
  <div class="content-preview">
    {% if post.excerpt %}
      {{ post.excerpt }}
    {% endif %}
  </div>
{% endfor %}

<!-- This controls the display of the pagination controls -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a class="pagination__button pagination__button--prev" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span class="pagination__button pagination__button--disabled">&laquo; Prev</span>
  {% endif %}

  <!-- Optional display of individual paging leafs
  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="pagination__button pagination__button--current"><em>{{ page }}</em></span>
    {% elsif page == 1 %}
      <a class="pagination__button" href="{{ '/blog/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a class="pagination__button" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}
-->

  {% if paginator.next_page %}
    <a class="pagination__button pagination__button--next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span class="pagination__button pagination__button--disabled">Next &raquo;</span>
  {% endif %}
</div>
{% endif %}

<!-- RSS Subscription Link -->
<p class="rss-subscribe">Subscribe to these posts <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
